@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import 'variables.scss';
@import '~bulma';
@import '~buefy/src/scss/buefy';
@import 'animations.scss';

.container.is-spaced {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hidden {
  opacity: 0;
}
