/**
 * Colors
 */
$dark: #5F3DC4;
$light: #38D9C0;
$primary: #38D9C0;
$warning: #ffb600;
$danger: #eb0006;
$success: #00d500;
$info: #5F3DC4;
$black: #222;
$white: #fff;
/**
 * Font
 */
$family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$weight-bold: 800;
/**
 * Responsiveness
 */
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$gap: 32px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 960px + (2 * $gap);
$widescreen-enabled: true;
$fullhd: 960px + (2 * $gap);
$fullhd-enabled: true;

$navbar-height: 4rem;
